{% extends 'base.html' %} 
{% block content %} 
{% if not token.token %}
<div style="display: inline-block">
  <p>Token:</p>
</div>
<div style="display: inline-block">
  <form action="" method="get" , id="getToken">
    <button type="submit">Get Token</button>
  </form>
</div>
{% else %}
<div style="display: inline-block">
  <p>Token: {{token}}</p>
</div>
{% endif %}

<br />
<br />

<form action="" method="POST" id="messageFormSend">
  <label for="message">Message:</label>
  <textarea id="message" name="message" rows="4" cols="50"></textarea>
  <button type="submit">Send</button>
</form>

<br />
<br />

<form action="" method="POST" id="LogoutForm">
  <button type="submit">Logout</button>
</form>

{% endblock content %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#messageFormSend").submit(function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "api/v1/message/",
            headers: {
                'HTTP-X-CSRFToken': getCookie('csrftoken')
            },
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                message: $("textarea[name='message']").val()
            },
            success: function(data){
                alert("Message sent");
            },
            error: function(data){
                alert("Error");
            }
        });
    });
  });
  </script>
{% endblock script %}
